<app-pattern-menu
    (patternSelected)="handlePatternSelection($event)">
</app-pattern-menu>
<div class="pattern-name">{{ selectedPattern | titlecase }}</div>
<div class="main-content">
    <div class="row">
        <app-config-panel 
            (filesGenerated)="handleFilesGenerated($event)"
            [selectedPattern]="selectedPattern">
        </app-config-panel>
        <app-code-display [generatedFiles]="generatedFiles"></app-code-display>
    </div>
    <button mat-raised-button (click)="download()">Download</button>
</div>
