<mat-card>
    <mat-card-header>
      <mat-card-title>Congifurer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="patternForm">
        <div class="form-field" *ngFor="let variable of variables">
          <span class="label">{{ formatVariableName(variable) }}</span>
          <input [formControlName]="variable" [placeholder]="'Enter ' + variable" />
        </div>
      </form>
    </mat-card-content>
    <button mat-raised-button (click)="configure()">Configure</button>
</mat-card>
  