<mat-card>
  <mat-card-header>
    <mat-card-title>Configuration Panel</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form [formGroup]="patternForm" class="configuration-form">
      <div class="single-variables-section">
        <div class="form-grid">
          <div class="form-field" *ngFor="let variable of singleVariables">
            <mat-form-field appearance="outline">
              <mat-label>{{ formatName(variable) }}</mat-label>
              <input matInput [formControlName]="variable" [placeholder]="'Enter ' + formatName(variable)" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="grouped-variables-section" *ngIf="groupedVariables.length > 0">
        <mat-tab-group animationDuration="0ms" class="group-tabs">
          <mat-tab *ngFor="let group of groupedVariables" [label]="formatName(group.groupName)">
            <div class="tab-content-wrapper">
              <ng-container *ngIf="getFormArray(group.groupName) as formArray">
                <div [formArrayName]="group.groupName" class="form-array-container">
                  <mat-tab-group animationDuration="0ms">
                    <mat-tab *ngFor="let groupForm of formArray.controls; let i = index" 
                            [label]="'Variant ' + (i + 1)">
                      <div [formGroupName]="i" class="variant-form">
                        <div class="variant-header">
                          <h4 class="variant-title">Variant {{ i + 1 }}</h4>
                          <button mat-icon-button color="warn" 
                                  (click)="removeGroupInstance(group.groupName, i)"
                                  matTooltip="Remove variant">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                        
                        <div class="form-grid">
                          <div *ngFor="let variable of group.variables" class="form-field">
                            <mat-form-field appearance="outline">
                              <mat-label>{{ formatName(variable) }}</mat-label>
                              <input matInput [formControlName]="variable" 
                                     [placeholder]="'Enter ' + formatName(variable)" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>

                  <button mat-raised-button color="primary" 
                          (click)="addGroupInstance(group)"
                          class="add-variant-button">
                    <mat-icon>add</mat-icon>
                    Add {{ formatName(group.groupName) }} Variant
                  </button>
                </div>
              </ng-container>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="configure()">
      <mat-icon>build</mat-icon>
      Generate Code
    </button>
  </mat-card-actions>
</mat-card>
